@{
    ViewData["Title"] = "Login Secretaría";
}

<h2>Inicio de Sesión Secretaría</h2>

<form>
    <input type="text" placeholder="Usuario" />
    <br /><br />
    <input type="password" placeholder="Contraseña" />
    <br /><br />
    <button type="submit">Ingresar</button>
</form>
