@{
    ViewData["Title"] = "EduClick";
}

<header class="encabezado">
    <div class="contenedor-logo">
        <img src= "~/imagenes/imagen_logo.png" alt="Logo Educlick">
        <h1>EduClick</h1>
    </div>

    <nav>
        <a href="#">Inicio</a>
        <a href="#">Contacto</a>
    </nav>


</header>

       
        



  

