@{
    ViewData["Title"] = "EduClick";
}

<header class="encabezado">
    <div class="contenedor-logo">
        <img src= "~/imagenes/imagen_logo.png" alt="Logo Educlick">
        <h1>EduClick</h1>
    </div>

    <nav>
        <a href="#">Inicio</a>
        <a href="#">Contacto</a>
    </nav>


</header>
    <div class="bienvenida">
        <h2>Bienvenidos a Educlick</h2>
        <h3> Una Plataforma Educativa Llena De Aventuras<br />
            Para Aprender Jugando </h3>
    </div>

       
      <div class="significado">
    <h4>EduClick es una plataforma escolar moderna donde estudiantes<br />
        aprenden, docentes gestionan cursos y actividades, y los acudientes<br />
        pueden seguir de cerca el rendimiento académico.<br />
        TODO EN UN SOLO LUGAR FACIL Y SEGURO.
    </h4>
    <div class="botones">
        <a href="ingresar.html" class="btn ingresar">INGRESAR<a/>
        <a href=" registrar.html" class="btn registrarse">registrarse</a>


    </div>


   
      </div>  


  

